*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Girassol", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Energia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#principal{
    background-color: rgba(156, 10, 175,0.8);
    height: 350px;
    width: 350px;
    border: 2px solid ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
    padding: 30px 40px;
    box-shadow: rgba(190, 21, 168, 0.664) 0px 3px 8px;
}
#principal h1{
    color: gold;
    font-size: 36px;
    text-align: center;
}

.inp_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inp_box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(7, 7, 7,0.7);
    outline: none;
    font-size: 16px;
    color: whitesmoke;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}
.inp_box input::placeholder{
    color: white;
}
.inp_box img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.lembrar{
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.lembrar label input{
    accent-color: white;
    margin-right: 5px;
}
.lembrar a{
    text-decoration: none;
    color: whitesmoke;
}
.lembrar a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#bt_l{
    width: 100%;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.1);
}
#bt_l:hover{
    box-shadow: rgba(28, 28, 165, 0.5) 0px 7px 29px 0px;
    background-color: black;
    color: blue;
}

.cadastro{
    color: whitesmoke;
    margin: 10px;
}
.cadastro a{
    color: whitesmoke;  
    text-decoration: none;  
}
.cadastro a:hover{
    text-decoration: underline black;
    color: cornflowerblue;
}